*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  box-sizing: border-box;
}
.logo{
  display: flex;
  width: 50px;
  height: 4vh;
}
lo
*::before,*::after,*{
  box-sizing: inherit;
}
.bg{
  width: 100%;
  height: 100vh;
  z-index: -11;
}
.parallax{
  background-image: url(./images/WhatsApp_Image_2023-04-20_at_12.12.54-removebg-preview.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate3d(10px);
}
@media only screen and (max-device-width: 1366px) {
  .parallax-container {
    background-attachment: scroll;
  }
}
header{
  width: 100%;
  height: 20vh;
  background-color: rgba(58, 176, 219, 0.011);
  position: fixed;
  z-index: 10;
  display: flex;
}
.head{
  display: flex;
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.684);
  align-items: center;
  z-index: 2;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
nav{
  flex: 2;
}
.nav-links{
  display: flex;
 list-style: none;
 justify-content: space-around;
}
li{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  cursor: pointer;
  display: list-item;
}
li:hover{
  color: gold;
  transition: .5s;
  text-decoration: underline;
}
.start{
  display: flex;
  width: 10%;
  height: 7vh;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 145, 188);
  cursor: pointer;
}
a{
  text-decoration: none;
  color: black;

}
p{
  flex: 1;
  font-size: 28px;
  font-family: cursive;
  font-weight: bolder;
}
.logo{
  display: flex;
  width: 05%;
  height: 8vh;
}
.logo1{
  display: flex;
  width: 120%;
  height: 9vh;
  cursor: pointer;
}
.f-width{
  display: flex;
  width: 80%;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  left: 10%;
  top: 20vh;
  padding: 10px;
  padding-left: 3%;
  padding-right: 5%;
  box-shadow: inset 0px 3px 5px 0px rgba(0,255,255,0.7);
}
.pic-width{
  width: 30%;
  height: 45vh;
  border-radius: 12px;
  animation: slide 1s ease-in;
  box-shadow: inset 0px 3px 5px 0px rgba(0,255,255,0.7);
  cursor: pointer;
}
.pic:hover{
  box-shadow: inset 0px 2px 30px 0px rgba(0,255,255,0.7);
  transition: .5s;
}
.pic-width img{
  width: inherit;
  height: inherit;
  width: 100%;
  border-radius: 12px;
}
@keyframes slide{
  0% {
    opacity: 0;
    transform:translateX(-50px)
  }
}
.wri-width{
  width: 50%;
  height: 45vh;
  border-radius: 12px;
  animation: drop 1s ease-in;
  box-shadow: inset 0px 3px 5px 0px black;
  cursor: pointer;
  justify-content: center;
 
}
.wri-width p{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}
.wri-width:hover{
  box-shadow: inset 0px 0px 20px 10px black;
  transition: .5s;
  
}
@keyframes drop{
  0% {
    opacity: 0;
    transform:translatex(80px)
  }
}
.s-width{
  display: flex;
  width: 80%;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  left: 10%;
  top: 20vh;
  padding: 10px;
  padding-left: 3%;
  padding-right: 5%;
  box-shadow: inset 0px 3px 5px 0px rgba(0,255,255,0.7);
  margin-top: 5%;
}
.third-width{
  display: flex;
  width: 80%;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  left: 10%;
  top: 20vh;
  padding: 10px;
  padding-left: 3%;
  padding-right: 5%;
  box-shadow: inset 0px 3px 5px 0px rgba(0,255,255,0.7);
  margin-top: 5%;
}
.fourth-width{
  display: flex;
  width: 80%;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  left: 10%;
  top: 20vh;
  padding: 10px;
  padding-left: 3%;
  padding-right: 5%;
  box-shadow: inset 0px 3px 5px 0px rgba(0,255,255,0.7);
  margin-top: 5%;
}
.fifth-width{
  display: flex;
  width: 80%;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  left: 10%;
  top: 20vh;
  padding: 10px;
  padding-left: 3%;
  padding-right: 5%;
  box-shadow: inset 0px 3px 5px 0px rgba(0,255,255,0.7);
  margin-top: 5%;
}
.sixth-width{
  display: flex;
  width: 80%;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  left: 10%;
  top: 20vh;
  padding: 10px;
  padding-left: 3%;
  padding-right: 5%;
  box-shadow: inset 0px 3px 5px 0px rgba(0,255,255,0.7);
  margin-top: 5%;
}
.seventh-width{
  display: flex;
  width: 80%;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  left: 10%;
  top: 20vh;
  padding: 10px;
  padding-left: 3%;
  padding-right: 5%;
  box-shadow: inset 0px 3px 5px 0px rgba(0,255,255,0.7);
  margin-top: 5%;
}
.eight-width{
  display: flex;
  width: 80%;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  left: 10%;
  top: 20vh;
  padding: 10px;
  padding-left: 3%;
  padding-right: 5%;
  box-shadow: inset 0px 3px 5px 0px rgba(0,255,255,0.7);
  margin-top: 5%;
}
.ninth-width{
  display: flex;
  width: 80%;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  position: relative;
  left: 10%;
  top: 20vh;
  padding: 10px;
  padding-left: 3%;
  padding-right: 5%;
  box-shadow: inset 0px 3px 5px 0px rgba(0,255,255,0.7);
  margin-top: 5%;
}
.footer{
  display: flex;
  width: 100%;
  height: 50vh;
  padding-left: 5%;
  padding-right: 5%;
  background: rgba(0, 0, 0, 0.388);
  position: absolute;
  top:560%;
  justify-content: center;
}
.f-logo{
  display: flex;
  width: 10%;
  height: 10vh;
  padding-top: 1%;
}
.f-logo1{
  display: flex;
  width: 120%;
  height: 20vh;
  cursor: pointer;
}
.footer p{
  position: absolute;
  bottom: 05%;
  font-size: 15px;
}
h3{
  position: absolute;
  top: 40%;
}
.contacts{
  width: 20%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 41%;
  justify-content: space-between;
}
.contacts a{
  text-decoration: underline;
  color: rgb(193, 6, 193);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.s-logo{
  display: flex;
  width: 20%;
  height: 30%;
  position: absolute;
  top: 60%;
  left: 40%;
  justify-content: space-between;
  align-items: center;
}
.s-logo1 img{
  width: 50px;
  cursor: pointer;
}
.s-logo2 img{
  width: 50px;
  cursor: pointer;
}
.s-logo3 img{
  width: 50px;
  cursor: pointer;
}
.s-logo1  :hover{
  width: 60px;
  transition: .5s;
}
.s-logo2  :hover{
  width: 60px;
  transition: .5s;
}
.s-logo3  :hover{
  width: 60px;
  transition: .5s;
}